/* === Header === */
@include xl{
    .header .navbar-nav .nav-item{
       margin-left: 1rem;
    }
}
@include lg{
        .header .container-fluid{
        width:100% !important;
    }
    .header .navbar-nav .nav-item{
        margin-left:5px;
    }
     .header .navbar-nav{
        font-size:14px;
    }
    .small-nav .contact-us{
margin-right: 5px;
    }
}
@include md{
    .search-area{
        width:80%;
    }
    .small-nav .contact-us{
margin-right: 5px;
    }
    .small-nav .contact-us li{
            margin-left: 2rem;
    }
 .header .navbar-nav .nav-item{
        margin-left:5px;
    }
    .header .navbar-nav{
        font-size:14px;
    }
    .navbar-collapse{
    background: rgba(82, 42, 239, 0.89);
    position: absolute;
    top: 11rem;
    text-align: right;
    width: 100%;
}
.mobile-hidden{
    display:none !important;
}
}
@include sm{
    .Slider-block .my-swiper .swiper-button-prev i, .Slider-block .my-swiper .swiper-button-next i{
        font-size:3rem;
    }
    .Single-Movie .chat-video, .Single-Series .chat-video, .episode .chat-video{
        right:1rem;
        bottom: 4rem;
    }
    .chat .message p{
        margin-bottom: 0px;
    }
.item-slide .overlay{
    display:block !important;
    background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0), #000e36);
}
// .plyr:-webkit-full-screen video, .plyr:fullscreen video{
//     height:100% !important;
//     width:100% !important;
// }
.item-slide {
    min-width:auto;
    max-width: 300px;
}
.Slider-block .my-swiper .swiper-button-next{
    left: 60px;
}
.Slider-block .my-swiper .swiper-button-prev{
    right: 30px;
}
.item-slide .overlay .information{
    text-align: center;
}
.Single-Movie .plyr__volume input, .Single-Series .plyr__volume input, .episode .plyr__volume input{
        width:30px  !important;
    }
    .plyr--video .plyr__time{
        display:none;
    }
    .swiper-slide{
        padding:0,
    }
.mobile-hidden{
    display:none !important;
}
.small-nav .contact-us li{
    margin-left:1rem;
}
.small-nav .contact-us{
        justify-content: center;
}
.header .navbar-brand{
    margin:0 auto;
}
.navbar-collapse{
    background: rgba(0, 0, 29, 0.78);
    position: absolute;
    top: 11rem;
    text-align: right;
    width: 100%;
}
.sub-head-mob{
    display:block;
    background-color: #007bc3c4;
    padding: 1rem 0;
}
.pc-hidden{
    display:block !important;
    .toggle {
        padding: 10px;
        float: right;
    }
}
.home-slider .my-swiper .big-slide .slide-info{
   padding-top:5rem;
    .title{
        font-size: 30px;
    }
    .overview{
        display: none;
    }
}
}
@include sm{
/* === Home === */
.search-area{
        width:80%;
    }
.home-slider-block .block-type{
    padding:10px
}
.home-slider-block .drob{
    display:block;
}

.home-slider-block .categories ul{
    display:none;
    position: absolute;
    background-image: linear-gradient(109.6deg, #4148cf 21.2%, #5061d8 73.1%);
    z-index: 999;
    width: 100%;
    left: 0;
    border-radius: 10px;
    top: 26px;
}
.home-slider-block{
    margin:20px 30px;
}
.Slider-block .my-swiper{
    height: 220px;
    .item-slide .poster{
            height: 180px;
    }
}
.Slider-block .my-swiper .swiper-button-prev, .Slider-block .my-swiper .swiper-button-next{
    display:block;
}
.Single-Movie .watch-list button, .Single-Series .watch-list button, .episode .watch-list button{
    padding: 8px 15px;
}
#download{
    width: 100%;
}
}

/* === Pages === */
@include sm{
    .plyr__controls>.plyr__control:first-child{
        display: none;
    }
   .plyr__controls>.plyr__control+[data-plyr=rewind],.plyr__controls>.plyr__control+[data-plyr=fast-forward]{
        display: none;
    }
    .itemtitle{
        display: none;
    }
    .plyr__progress__container{
        top: 3px !important;
    }
    .more-btn {
        font-size: 16px;
        padding-bottom: 1rem;
        display: flex;
        justify-content: flex-end !important;
        padding: 9px 0 !important;
        margin-left: 22px !important;
    }
    .player-mov {
        width:100%;
    }
    .Single-Movie, .Single-Series, .episode {
        margin: 20px !important;
        .container{
                overflow: hidden !important;
        }
         .descrption{
             margin-bottom: 25px !important;
        }
        .movie-information .information-list li span:first-of-type{
                width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
        }
         .movie-information .information-list li i{
             margin:0;
        }

    }
    .movies-genre{
            margin: 50px 15px;
    }
    .movies-genre .filters{
            display: block;
            li{
                margin-bottom:10px;
            }
    }
    .sub.show{
        display:block !important;
        -webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    // .plyr:-webkit-full-screen {
    //     background: #000 !important;
    //     border-radius: 0!important;
    //     height: 100% !important;
    //     margin: 0 !important;
    //     width: 100% !important;
    // }
    // .plyr:fullscreen {
    //     background: #000 !important;
    //     border-radius: 0!important;
    //     height: 100% !important;
    //     margin: 0 !important;
    //     width: 100% !important;
    // }
}

