$DarkColor: #0F0F0F;
$mDark:#181818;
$sColor:#008dff;
$s2Color:#FFD700;
$secondary-color:$sColor;
$primary-color:$sColor;

/* ======== Dark Mode Style ========*/

.darkMod {
    background-color: #0F0F0F;
    transition: 1s ease-in-out;
    color: $sColor;
    min-height:100vh;
.chat .mine .message.last:after{
    background-color: #0F0F0F;
}
.home-slider{
    background-color: #0F0F0F;
}
    a {
        color: #fff !important;
        @include transition(0.3s);

        &:hover {
            color: $sColor !important;
            @include transition(0.3s);
        }

        i {
            color: $sColor !important;
            @include transition(0.3s);
        }
    }
    .small-nav .contact-us li a{
        color:$s2Color !important;
    }

    .active {
        color: $s2Color !important;
        @include transition(0.3s);
    }
    #download .table{
        color:#fff;
    }
    .bug{
        .form-control{
            background-color: #17171f;
    border-color: #2e2e2e;
        }
    }
    .home-slider .my-swiper .big-slide .slide-info{
        background-image: radial-gradient(circle 523px at 7.1% 19.3%, rgba(30, 8, 48, 0.6) 2%, rgba(10, 20, 68, 0.62) 100.7%);
    }
    /* Headers */
    .small-nav {
        background-image: none;
        background-color: #070d35;
        transition: 1s ease-in-out;

        .social {
            i {
                background-color: $secondary-color;
                color: #fff !important;
                @include transition(0.3s);

                &:hover {
                    background-color: $DarkColor !important;
                    @include transition(0.3s);
                }
            }

        }
    }   
    .search-area .search-form-area .form-control{
        background-color: rgba(31, 26, 46, 0.74902);
    color: #fff;
    box-shadow: none;;
    }
    .sub-head-mob{
        background-color: rgb(0, 16, 53);
    }
    .header {
        background-image: none;
        background-image: linear-gradient(to right, #0a0a1e, #080a20, #060a22, #030b25, #000b27);
        transition: 1s ease-in-out;
    }

    .home-slider {
        .slide-overlay {
             background-image: radial-gradient(circle 523px at 7.1% 19.3%, rgba(16, 3, 70, 0.42) 2%, rgba(2, 9, 46, 0.39) 100.7%) !important;
        }
    }

    .home-slider-block .back-color{
        background-image:none;
    }
    /* Home */
    .home-slider-block {
        @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
        background-color: #18181885;
        z-index: 9999;
        position: relative;
        transition: 1s ease-in-out;

        .back-color {
           background-color:rgba(5, 11, 44, 0.7);
            border-radius: 10px 10px 0 0;
            transition: 1s ease-in-out;

        }

        a {
            color: #fff !important;
            @include transition(0.3s);

            &:hover {
                color: $sColor !important;
                @include transition(0.3s);
            }

            i {
                color: $sColor !important;
                @include transition(0.3s);
            }
        }
    }

    #download .note span{
        color: #00f3ff;
    }
    .chat .message p{
        color: #ffde00;
    }
    .chat .message button{
        color:#cdccff;
        &:hover{
            color:#fff;
        }
    }
    /* Sections */
    .Fast-Search {
        background-color: $mDark !important;
        @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
        ul{
            li {
                padding: 10px 20px;
                border-bottom: 1px solid #0c0e1f;
                &:hover{
                    background-color: #0a0a0a;
                }
            }
        }
        
    }
    .movies-genre {
        background-color: $mDark !important;
        @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
        border-radius: 20px 20px 0 0;
        transition: 1s ease-in-out;

        .filters {
           background-color:#131123;
            transition: 1s ease-in-out;
            border: none;
            @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);

            .custom-select {
                background-color: $mDark;
                color: #fff;
                border: none;
                transition: 1s ease-in-out;
            }
        }
    }

    .Single-Movie,.Single-Series, .episode  {
        .container {
            background-color: $mDark;
            @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
            color: #fff !important;

            .movie-information {
                @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);

                .movie-title {
                   background-color:#131123;
                    @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
                }

                .information-list li {
                    background-color: $DarkColor;
                    color:#fff;
                    i{
                        color:#fff;
                    }
                    span:first-of-type {
                        color: $sColor;
                    }
                }
            }
            .poster{
                border-top: 4px solid $mDark;
                img{
                    @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
                }
            }
           .descrption
           {
            @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
            .title{
               background-color:#131123;
               
               }
           } 
           .watch-list button{
            @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
            color:#fff !important;
           }
           .other-title{
           background-color:#131123;
            @include boxShadow(0px, 0px, 5px, 0px, #0c0e1f);
           }
        }
    }

    /* Footer */
    .footer {
        background-image: none !important;
        background-color: #15141b !important;
        transition: 1s ease-in-out;
        color: #fff !important;
    }
    .chat .mine .message{
        background-image:none;
        background-color: #090a1f;
    }
}

.Single-Movie .others a, .Single-Series .others a, .episode .others a{
    box-shadow:none;
    border:2px solid #2c2c2c;
}