// $primary-color:#02407e;
// $secondary-color:#FF9933;
$primary-color:#008dff;
$secondary-color:#12086f;
$light-color:#fff;
$back-color:#F5F7FA;
$gray-text:#999999;
$primary-light:lighten($primary-color, 5);
